.home {

  header {
    img {
      padding-bottom: 3%;
    }
    @media @mobile {
      .layout(75%, auto);
    }
  }
  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @mobile {
      .flex-moblie(column, center);
      .layout(100%, auto);
    }
    
    .text-content {
      width: 48%;
      padding-right: 1%;

      @media @mobile {
        .flex-moblie(column, center);
        .layout(75%, auto);
        padding-top: 5%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @mobile {
        .flex-moblie(column, center);
        .layout(75%, auto);
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @mobile {
      .flex-moblie(column-reverse, center);
      .layout(100%, auto);
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    .layout(75%, 0 auto 30px);

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;
    .btn {
      .btn-original(darken(@button-bg, 15%), @white, 4.4rem, 100%, 2rem);
      &:hover {
        background-color: @sandy-beach;
        color: @button-bg;
      }
    }

    @media @mobile {
      .flex-moblie(column-reverse, center);
      .layout(100%, auto);
      .btn {
        background-color: @button-bg;
        margin-bottom: 10%;
      }
    }

    .destination {
      .layout(30%, 0 0 30px 0);

      @media @mobile {
        align-content: center;
        .layout(65%, auto);
      }
    }
  }
  #Contact {
    .layout(75%, auto);
    text-align: center;
    align-items: center;
    h3 {
      padding: 1% 0;
      font-size: 1.75rem;
      text-align: center;
    }
    p {
      padding-bottom: 2%;
      text-align: center;
    }
    /* Style inputs with type="text", select elements and textareas */
    input[type=text], input[type=email], textarea, #excursion {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */ 
      border: 1px solid @sandy-beach; /* Gray border */
      border-radius: 10px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }
    
    /* Style the submit button with a specific background color etc */
    input[type=submit] {
      border: none;
      margin-bottom: 5%;
      .btn-original(darken(@button-bg, 15%), @white, 4.4rem, 100%, 2rem);
      &:hover {
        background-color: @sandy-beach;
        color: @button-bg;
      }

      @media @mobile {
        background-color: @button-bg;
        margin-bottom: 10%;
      }
    }
  }
}// home