// Navigation Styles here
.navbar {
    .box-size(10vh, 100%);
    .flex-layout(space-between, center);
    padding: 0 4%;
    .logo {
        width: 25%;
        margin: auto;
    }
    .nav-links {
        width: 40%;
        .flex-layout(space-between, center);
        margin: auto;

        a {
            text-decoration: none;
            color: black;
            font-size: 1.75rem;
        }
    }

    @media @mobile {
 
        flex-direction: column;
        width: 100%;
        align-content: center;
        margin: auto;
        padding-top: 3%;
        .box-size(10vh, 100%);
        .logo {
            width: 100%;
            text-align: center;
        }
        .nav-links {
            width: 75%;
            margin-bottom: 0;
        }
      }
}
hr {
    border-top: none;
    border-bottom: 2px dashed @navigation-border;
    margin-bottom: 0;
}
